<div class="Launch-box span4 offset3 text-center">

	<h1> Add Your Image </h1>
	<br/>

<%= simple_form_for @post do |f| %>
	<%= f.input :title, label: 'Add a Title', placeholder: 'Riker, Data Jordy, Spock, etc.' %>
	<br/>

	<%= f.input :description, label: 'What\'s going on?', placeholder: 'Riker get\'s excited, Spock is dancing, etc.' %>

<%= f.input :image %>


	<br/>
	<%= f.submit  'Save', :class => 'btn btn-warning' %>


<% end %>


</div>